@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap");
body {
  font-family: "Vazirmatn", sans-serif;
}
::placeholder {
  text-align: right;
}
.result-item {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(10px);
}
.result-item.visible {
  opacity: 1;
  transform: translateY(0);
}
#tooltip-container:hover #tooltip-content,
#tooltip-toggle:focus + #tooltip-content {
  opacity: 1;
  visibility: visible;
  transform: translate(-150%, 310px); /* Move it up on show */
}
/* Tooltip Styles */
@media (max-width: 768px) {
  #tooltip-container:hover #tooltip-content,
  #tooltip-toggle:focus + #tooltip-content {
    transform: translate(0%, 70%) !important;
    z-index: 999;
  }
}
